# python program to scrape data for “Data Analyst” Job position in “Bangalore” location

In [ ]:
!pip install selenium

In [ ]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [ ]:
driver = webdriver.Edge(r'C:/Users/humay/OneDrive/Desktop/Data Science/msedgedriver.exe')

In [ ]:
url = 'https://www.naukri.com/'
driver.get(url)

In [ ]:
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [ ]:
search_job.send_keys("Data Analyst")

In [ ]:
search_Iocn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_Iocn

In [ ]:
search_Iocn.send_keys("Bangalore")

In [ ]:
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [ ]:
search_btn.click()

In [ ]:
salary_check = driver.find_element_by_xpath('/html/body/div/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[4]/label/i')
salary_check

In [ ]:
salary_check.click()

In [ ]:
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[0:2]

In [ ]:
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
    
len(job_titles)
job_titles[0:2]

In [ ]:
location_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)
location_tags[0:2]

In [ ]:
job_locations = []

for i in location_tags:
    job_locations.append(i.text)
    
len(job_locations)
job_locations[0:2]

In [ ]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)
company_tags[0:2]

In [ ]:
company_name = []

for i in company_tags:
    company_name.append(i.text)
    
len(company_name)
company_name[0:2]

In [ ]:
experience_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(experience_tags)
experience_tags[0:2]

In [ ]:
experience_required = []

for i in experience_tags:
    experience_required.append(i.text)
    
len(experience_required)
experience_required[0:2]

In [ ]:
len(job_titles), len(job_locations), len(company_name), len(experience_required)

In [ ]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Job Location'] = job_locations
jobs['Company Name'] = company_name
jobs['Experience Required'] = experience_required
jobs

In [ ]:
jobs[:11]

# Python program to scrape data for “Data Scientist” Job position in “Bangalore” location

In [ ]:
search_job.send_keys("Data Scientist")

In [ ]:
search_Iocn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_Iocn

In [ ]:
search_Iocn.send_keys("Bangalore")

In [ ]:
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [ ]:
search_btn.click()

In [ ]:
title_tag = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tag)
title_tag[0:2]

In [ ]:
job_title = []

for i in title_tag:
    job_title.append(i.text)
    
len(job_title)
job_title[0:2]

In [ ]:
location_tag = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tag)
location_tag[0:2]

In [ ]:
job_location = []

for i in location_tag:
    job_location.append(i.text)
    
len(job_location)
job_location[0:2]

In [ ]:
company_tag = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tag)
company_tag[0:2]

In [ ]:
company_names = []

for i in company_tag:
    company_names.append(i.text)
    
len(company_names)
company_names[0:2]

In [ ]:
len(job_title), len(job_location), len(company_names)

In [ ]:
job = pd.DataFrame()
job['Job Title'] = job_title
job['Job Location'] = job_location
job['Company Name'] = company_names

job[0:10]

# Python program to scrape data for “Data Scientist” Job position in “Delhi/NCR” location using filter

In [ ]:
!pip install selenium

In [ ]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [ ]:
driver = webdriver.Edge(r'C:/Users/humay/OneDrive/Desktop/Data Science/msedgedriver.exe')

In [ ]:
url = 'https://www.naukri.com/'
driver.get(url)

In [ ]:
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [ ]:
search_job.send_keys("Data Scientist")

In [ ]:
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [ ]:
search_btn.click()

In [ ]:
salary_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_check

In [ ]:
salary_check.click()

In [ ]:
location_check =driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/i')
location_check

In [ ]:
location_check.click()

In [ ]:
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[0:2]

In [ ]:
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
    
len(job_titles)
job_titles[0:2]

In [ ]:
location_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)
location_tags[0:2]

In [ ]:
job_locations = []

for i in location_tags:
    job_locations.append(i.text)
    
len(job_locations)
job_locations[0:2]

In [ ]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tagS)
company_tagS[0:2]

In [ ]:
company_names = []

for i in company_tags:
    company_names.append(i.text)
    
len(company_names)
company_names[0:2]

In [ ]:
experience_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(experience_tags)
experience_tags[0:2]

In [ ]:
experience_required = []

for i in experience_tags:
    experience_required.append(i.text)
    
len(experience_required)
experience_required[0:2]

In [ ]:
len(job_titles), len(job_locations), len(company_names), len(experience_required)

In [ ]:
job = pd.DataFrame()
job['Job Title'] = job_titles
job['Job Location'] = job_locations
job['Company Name'] = company_names
job['Experience Required'] = experience_required

job[0:10]

# Scraping data of first 100 sunglasses listings on flipkart.com

In [ ]:
url1 = 'https://www.flipkart.com/'
driver.get(url1)

In [ ]:
search_sunglass = driver.find_element_by_class_name("_3704LK")
search_sunglass

In [ ]:
search_sunglass.send_keys("sunglasses")

In [ ]:
search_sunglass

In [ ]:
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [ ]:
search_btn.click()

In [ ]:
brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)
brand_tags[0:2]

In [ ]:
brand_name = []

for i in brand_tags:
    brand_name.append(i.text)
    
len(brand_name)
brand_name[0:2]

In [ ]:
len(brand_name)

In [ ]:
prodct_description_tags = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(prodct_description_tags)
prodct_description_tags[0:2]

In [ ]:
product_description = []

for i in prodct_description_tags:
    product_description.append(i.text)
    
len(product_description)
product_description[0:2]

In [ ]:
price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tags)
price_tags[0:2]

In [ ]:
price = []

for i in price_tags:
    price.append(i.text)
    
len(price)
price[0:2]

In [ ]:
discount_tags = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(discount_tags)
discount_tags[0:2]

In [ ]:
discount = []

for i in discount_tags:
    discount.append(i.text)
    
len(discount)
discount[0:2]

In [ ]:
len(brand_name), len(product_description), len(price), len(discount)

In [ ]:
sunglasses_list1 = pd.DataFrame()
sunglasses_list1['Brand Name'] = brand_name
sunglasses_list1['Product Description'] = product_description
sunglasses_list1['Price'] = price
sunglasses_list1['Discount'] = discount

sunglasses_list1

In [ ]:
next_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_btn

In [ ]:
next_btn.click()

In [ ]:
brand_tags1 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags1)
brand_tags1[0:2]

In [ ]:
brand_name1 = []

for i in brand_tags1:
    brand_name1.append(i.text)
    
len(brand_name1)
brand_name1[0:2]

In [ ]:
prodct_description_tags1 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(prodct_description_tags1)
prodct_description_tags1[0:2]

In [ ]:
product_description1 = []

for i in prodct_description_tags1:
    product_description1.append(i.text)
    
len(product_description1)
product_description1[0:2]

In [ ]:
price_tags1 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tags1)
price_tags1[0:2]

In [ ]:
price1 = []

for i in price_tags1:
    price1.append(i.text)
    
len(price1)
price1[0:2]

In [ ]:
discount_tags1 = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(discount_tags1)
discount_tags1[0:2]

In [ ]:
discount1 = []

for i in discount_tags1:
    discount1.append(i.text)
    
len(discount1)
discount1[0:2]

In [ ]:
len(brand_name1), len(product_description1), len(price1), len(discount1)

In [ ]:
sunglasses_list2 = pd.DataFrame()
sunglasses_list2['Brand Name'] = brand_name1
sunglasses_list2['Product Description'] = product_description1
sunglasses_list2['Price'] = price1
sunglasses_list2['Discount'] = discount1

sunglasses_list2

In [ ]:
next_btn1 = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_btn1

In [ ]:
next_btn1.click()

In [ ]:
brand_tags2 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags2)
brand_tags2[0:2]

In [ ]:
brand_name2 = []

for i in brand_tags2:
    brand_name2.append(i.text)
    
len(brand_name2)
brand_name2[0:2]

In [ ]:
prodct_description_tags2 = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(prodct_description_tags2)
prodct_description_tags2[0:2]

In [ ]:
product_description2 = []

for i in prodct_description_tags2:
    product_description2.append(i.text)
    
len(product_description2)
product_description2[0:2]

In [ ]:
price_tags2 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tags2)
price_tags2[0:2]

In [ ]:
price2 = []

for i in price_tags2:
    price2.append(i.text)
    
len(price2)
price2[0:2]

In [ ]:
discount_tags2 = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(discount_tags2)
discount_tags2[0:2]

In [ ]:
discount2 = []

for i in discount_tags2:
    discount2.append(i.text)
    
len(discount2)
discount2[0:2]

In [ ]:
len(brand_name2), len(product_description2), len(price2), len(discount2)

In [ ]:
sunglasses_list3 = pd.DataFrame()
sunglasses_list3['Brand Name'] = brand_name2
sunglasses_list3['Product Description'] = product_description2
sunglasses_list3['Price'] = price2
sunglasses_list3['Discount'] = discount2

sunglasses_list3

In [ ]:
sunglasses_list = pd.concat([sunglasses_list1, sunglasses_list2, sunglasses_list3], join = 'inner')
sunglasses_list[0:100]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone

In [ ]:
driver = webdriver.Edge(r'C:/Users/humay/OneDrive/Desktop/Data Science/msedgedriver.exe')

In [ ]:
url2 = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace'
driver.get(url2)

In [ ]:
all_review = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div')
all_review.click()

In [ ]:
for i in range(2):
    print('Scraping page' ,i+1)
    iphone_rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    next_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
    next_btn.click()

Cannot make it. Help needed.

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com

In [ ]:
driver = webdriver.Edge(r'C:/Users/humay/OneDrive/Desktop/Data Science/msedgedriver.exe')

In [ ]:
url3 = 'https://www.flipkart.com'
driver.get(url3)

In [ ]:
search_sneakers = driver.find_element_by_class_name("_3704LK")
search_sneakers

In [ ]:
search_sneakers.send_keys("sneakers")
search_sneakers

In [ ]:
search_btn = driver.find_element_by_class_name("L0Z3Pu")
search_btn

In [ ]:
search_btn.click()

In [ ]:
brand_tag1 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tag1)
brand_tag1[0:2]

In [ ]:
sneakers_brand = []

for i in brand_tag1:
    sneakers_brand.append(i.text)
    
len(sneakers_brand)
sneakers_brand[0:2]

In [ ]:
des_tag1 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(des_tag1)
des_tag1[0:2]

In [ ]:
product_description = []

for i in des_tag1:
    product_description.append(i.text)
    
len(product_description)
product_description[0:5]

In [ ]:
len(product_description)

In [ ]:
price_tag1 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tag1)
price_tag1[0:2]

In [ ]:
price = []

for i in price_tag1:
    price.append(i.text)
    
len(price)
price[0:2]

In [ ]:
next_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_btn

In [ ]:
next_btn.click()

In [ ]:
brand_tag2 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tag2)
brand_tag2[0:2]

In [ ]:
sneakers_brand1 = []

for i in brand_tag2:
    sneakers_brand1.append(i.text)
    
len(sneakers_brand1)
sneakers_brand1[0:2]

In [ ]:
des_tag2 = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(des_tag2)
des_tag2[0:2]

In [ ]:
product_description1 = []

for i in des_tag2:
    product_description1.append(i.text)
    
len(product_description1)
product_description1[0:2]

In [ ]:
price_tag2 = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tag2)
price_tag2[0:2]

In [ ]:
price1 = []

for i in price_tag2:
    price1.append(i.text)
    
len(price1)
price1[0:2]

In [ ]:
len(sneakers_brand), len(product_description), len(price)

In [ ]:
sneakers1 = pd.DataFrame()
sneakers1['Brand Name'] = sneakers_brand
sneakers1['Product Description'] = product_description
sneakers1['Price'] = price

sneakers1

In [ ]:
sneakers2 = pd.DataFrame()
sneakers2['Brand Name'] = sneakers_brand1
sneakers2['Product Description'] = product_description1
sneakers2['Price'] = price1

sneakers2

In [ ]:
sneakers_list = pd.concat([sneakers1, sneakers2], join = 'inner')
sneakers_list

# Q7: Scraping Shoe data from https://www.myntra.com/shoes

In [ ]:
driver = webdriver.Edge(r'C:/Users/humay/OneDrive/Desktop/Data Science/msedgedriver.exe')

In [ ]:
url4 = 'https://www.myntra.com/shoes'
driver.get(url4)

In [ ]:
search_shoes = driver.find_element_by_class_name("desktop-searchBar")
search_shoes

In [ ]:
search_shoes.send_keys("shoes")
search_shoes

In [ ]:
search_btn = driver.find_element_by_class_name("desktop-submit")
search_btn

In [ ]:
search_btn.click()

In [ ]:
price_check = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_check

In [ ]:
price_check.click()

In [ ]:
color_check = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_check

In [ ]:
color_check.click()

In [ ]:
brand_tag1 = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(brand_tag1)
brand_tag1[0:2]

In [ ]:
shoes_brand = []

for i in brand_tag1:
    shoes_brand.append(i.text)
    
len(shoes_brand)
shoes_brand[0:2]

In [ ]:
len(shoes_brand)

In [ ]:
des_tag1 = driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(des_tag1)
des_tag1[0:2]

In [ ]:
shoes_des = []

for i in des_tag1:
    shoes_des.append(i.text)
    
len(shoes_des)
shoes_des[0:2]

In [ ]:
price_tag1 = driver.find_elements_by_xpath('//div[@class="product-price"]')
len(price_tag1)
price_tag1[0:2]

In [ ]:
shoes_price = []

for i in price_tag1:
    shoes_price.append(i.text)
    
len(shoes_price)
shoes_price[0:2]

In [ ]:
next_page = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]")
next_page

In [ ]:
next_page.click()

In [ ]:
brand_tag2 = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(brand_tag2)
brand_tag2[0:2]

In [ ]:
shoes_brand1 = []

for i in brand_tag2:
    shoes_brand1.append(i.text)
    
len(shoes_brand1)
shoes_brand1[0:2]

In [ ]:
des_tag2 = driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(des_tag2)
des_tag2[0:2]

In [ ]:
shoes_des1 = []

for i in des_tag2:
    shoes_des1.append(i.text)
    
len(shoes_des1)
shoes_des1[0:2]

In [ ]:
price_tag2 = driver.find_elements_by_xpath('//div[@class="product-price"]')
len(price_tag2)
price_tag2[0:2]

In [ ]:
shoes_price1 = []

for i in price_tag2:
    shoes_price1.append(i.text)
    
len(shoes_price1)
shoes_price1[0:2]

In [ ]:
shoes1 = pd.DataFrame()
shoes1['Brand Name'] = shoes_brand
shoes1['Product Description'] = shoes_des
shoes1['Price'] = shoes_price

shoes1

In [ ]:
shoes2 = pd.DataFrame()
shoes2['Brand Name'] = shoes_brand1
shoes2['Product Description'] = shoes_des1
shoes2['Price'] = shoes_price1

shoes2

In [ ]:
shoes_list = pd.concat([shoes1, shoes2], join = 'inner')
shoes_list

# Q8: Scrapping Laptop from https://www.amazon.in/

In [281]:
driver = webdriver.Edge(r'C:/Users/humay/OneDrive/Desktop/Data Science/msedgedriver.exe')

In [282]:
url5 = 'https://www.amazon.in'
driver.get(url5)

In [283]:
search_laptop = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_laptop

In [284]:
search_laptop.send_keys("Laptop")
search_laptop

In [285]:
search_btn = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_btn

In [286]:
search_btn.click()

In [289]:
check_i7 = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[11]/span/a/div/label/i")
check_i7

In [290]:
check_i7.click()

In [291]:
title_tag = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
len(title_tag)
title_tag[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="371c25e157c3615e06cd3770efb419e6", element="085b56d7-4271-4c11-a464-a7352f490c15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="371c25e157c3615e06cd3770efb419e6", element="6a0b8295-6ca5-46a8-81fc-7208698f94c4")>]

In [292]:
titles = []

for i in title_tag:
    titles.append(i.text)
    
len(titles)
titles[0:2]

['Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F38024',
 'LG Gram Intel Evo 11th Gen Core i7 17 inches Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 17Z90P-G.AH85A2, Black)']

In [293]:
len(titles)

30

In [318]:
rating_tag = driver.find_elements_by_xpath('//i[@class="a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom"]')
len(rating_tag)
rating_tag[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="371c25e157c3615e06cd3770efb419e6", element="1ba0df46-84f1-4c25-83aa-3467fe751f45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="371c25e157c3615e06cd3770efb419e6", element="8531ab2d-d043-4bba-8291-e663ad9e1f7f")>]

In [319]:
ratings = []

for i in rating_tag:
    ratings.append(i.text)
    
len(ratings)
ratings[0:2]

['', '']

In [320]:
price_tag = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
len(rating_tag)
rating_tag[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="371c25e157c3615e06cd3770efb419e6", element="1ba0df46-84f1-4c25-83aa-3467fe751f45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="371c25e157c3615e06cd3770efb419e6", element="8531ab2d-d043-4bba-8291-e663ad9e1f7f")>]

In [321]:
price = []

for i in price_tag:
    price.append(i.text)
    
len(price)
price[0:2]

['83,990', '96,999']

In [325]:
Laptop_list = pd.DataFrame()
Laptop_list['Title'] = titles
Laptop_list['Price'] = price

Laptop_list[0:10]

                                               Title     Price
0  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...    83,990
1  LG Gram Intel Evo 11th Gen Core i7 17 inches U...    96,999
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...    57,490
3  Mi Notebook Ultra 3.2K Resolution Display Inte...    77,499
4  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...    89,990
5  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    85,790
6  Microsoft Surface Studio 14.4 inches Touchscre...  3,73,999
7  (Renewed) Acer Nitro 5 11th Gen Intel Core i5-...    62,990
8  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    90,990
9  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...    89,999

# Q:9 & 10: python program to scrape data for first 10 job results for Data Scientist from https://www.ambitionbox.com

In [326]:
driver = webdriver.Edge(r'C:/Users/humay/OneDrive/Desktop/Data Science/msedgedriver.exe')

In [327]:
url6 = 'https://www.ambitionbox.com'
driver.get(url6)

In [334]:
job_link = driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
job_link

In [335]:
job_link.click()

In [336]:
search_job = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input")
search_job

In [337]:
search_job.send_keys("Data Scientist")

In [338]:
search_btn = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/button")
search_btn

In [339]:
search_btn.click()

In [340]:
location_check = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label")
location_check

In [341]:
location_check.click()

In [342]:
title_tag = driver.find_elements_by_xpath('//a[@class="title noclick"]')
len(title_tag)
title_tag[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="213c7236ea9113e3f88da25845d01ea9", element="6cd11689-fff3-4214-b0ba-a705122b0460")>,
 <selenium.webdriver.remote.webelement.WebElement (session="213c7236ea9113e3f88da25845d01ea9", element="19507330-a6c3-45ba-a2e2-2cb9c66fa6b6")>]

In [355]:
title = []

for i in title_tag:
    title.append(i.text)
    
len(title)
title[0:5]

['Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA',
 "HCL Hiring Data Scientist (Loc: Noida / Chennai / B'lore)",
 'Data Scientist',
 'Data Scientist-II',
 'HCL Tech Opening - Senior Data Scientist']

In [356]:
title1 = title[0:10]
title1

['Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA',
 "HCL Hiring Data Scientist (Loc: Noida / Chennai / B'lore)",
 'Data Scientist',
 'Data Scientist-II',
 'HCL Tech Opening - Senior Data Scientist',
 'Data Scientist',
 'Urgent Requirement || Data Scientist || Noida',
 'Data Scientist with NLP & Python',
 'Data Scientist',
 'Opportunity | Tavant India']

In [344]:
company_tag = driver.find_elements_by_xpath('//p[@class="company body-medium"]')
len(company_tag)
company_tag[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="213c7236ea9113e3f88da25845d01ea9", element="a54d7579-d2d2-4b35-aa68-39970b6178fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="213c7236ea9113e3f88da25845d01ea9", element="43c5cb3d-64ca-4e12-b7f6-213380d9fc49")>]

In [345]:
company = []

for i in company_tag:
    company.append(i.text)
    
len(company)
company[0:2]

['NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED',
 'HCL Technologies Limited']

In [346]:
rating_tag = driver.find_elements_by_xpath('//span[@class="body-small"]')
len(rating_tag)
rating_tag[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="213c7236ea9113e3f88da25845d01ea9", element="8cc23e5f-8c09-4d37-b4c3-ca726debfa19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="213c7236ea9113e3f88da25845d01ea9", element="8d6cb19f-a8ba-46f8-85a7-59b3e3320821")>]

In [347]:
rating = []

for i in rating_tag:
    rating.append(i.text)
    
len(rating)
rating[0:2]

['3.9', '3.8']

In [364]:
salary_tag = driver.find_elements_by_xpath('//p[@class="body-small-l"]')
len(salary_tag)
salary_tag[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="213c7236ea9113e3f88da25845d01ea9", element="790d1502-650e-45d0-902c-d5c11944976c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="213c7236ea9113e3f88da25845d01ea9", element="6d102336-2e9f-44e8-a0f9-70df380d785e")>]

In [374]:
salary = []

for i in salary_tag:
    salary.append(i.text.replace('Chennai, Pune, Delhi NCR + 5 more', ''))
    
len(salary)
salary

['₹ 3.5-5 LPA',
 '',
 '₹ 3.5-5 LPA',
 'Chennai, Pune, Delhi NCR +5 more',
 'Data Science, Power Bi, RDBMS +6 more',
 '1-5 Yrs',
 'Not Disclosed',
 'Chennai, Bengaluru/Bangalore, Noida',
 'C++, Database Management System, Artificial Intelligence +11 more',
 '3-8 Yrs',
 'Not Disclosed',
 'Bengaluru/Bangalore, Noida',
 'deep learning, python, tensorflow +7 more',
 '4-7 Yrs',
 'Not Disclosed',
 'Noida',
 'System design, Intellectual property, Product management +7 more',
 '6-11 Yrs',
 'Not Disclosed',
 'Chennai, Pune, Bengaluru/Bangalore +3 more',
 'N-Grams, data science, POS tagging +3 more',
 '3-6 Yrs',
 '₹ 30-45 LPA',
 'Noida',
 'Data Science, Deep Learning',
 '3-8 Yrs',
 'Not Disclosed',
 'Delhi NCR, Noida',
 'Machine Learning, Deep Learning, Python +1 more',
 '2-5 Yrs',
 'Not Disclosed',
 'Noida',
 'deep learning, algorithms, python +5 more',
 '8-12 Yrs',
 'Not Disclosed',
 'Greater Noida, Noida',
 'C++, SQL, Python +7 more',
 '4-9 Yrs',
 'Not Disclosed',
 'Bengaluru/Bangalore, Hyderabad/Secunderabad, Noida +1 more',
 'data scientist, Machine Learning, Python']

In [375]:
salary1 = salary[0::2]
salary1

['₹ 3.5-5 LPA',
 '₹ 3.5-5 LPA',
 'Data Science, Power Bi, RDBMS +6 more',
 'Not Disclosed',
 'C++, Database Management System, Artificial Intelligence +11 more',
 'Not Disclosed',
 'deep learning, python, tensorflow +7 more',
 'Not Disclosed',
 'System design, Intellectual property, Product management +7 more',
 'Not Disclosed',
 'N-Grams, data science, POS tagging +3 more',
 '₹ 30-45 LPA',
 'Data Science, Deep Learning',
 'Not Disclosed',
 'Machine Learning, Deep Learning, Python +1 more',
 'Not Disclosed',
 'deep learning, algorithms, python +5 more',
 'Not Disclosed',
 'C++, SQL, Python +7 more',
 'Not Disclosed',
 'data scientist, Machine Learning, Python']

In [379]:
salary2 = salary1[0:2]
salary2

['₹ 3.5-5 LPA', '₹ 3.5-5 LPA']

In [381]:
salary3 = salary1[3:30]
salary3

['Not Disclosed',
 'C++, Database Management System, Artificial Intelligence +11 more',
 'Not Disclosed',
 'deep learning, python, tensorflow +7 more',
 'Not Disclosed',
 'System design, Intellectual property, Product management +7 more',
 'Not Disclosed',
 'N-Grams, data science, POS tagging +3 more',
 '₹ 30-45 LPA',
 'Data Science, Deep Learning',
 'Not Disclosed',
 'Machine Learning, Deep Learning, Python +1 more',
 'Not Disclosed',
 'deep learning, algorithms, python +5 more',
 'Not Disclosed',
 'C++, SQL, Python +7 more',
 'Not Disclosed',
 'data scientist, Machine Learning, Python']

In [383]:
salary4 = salary3[0:19:2]
salary4

['Not Disclosed',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed',
 '₹ 30-45 LPA',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed']

In [385]:
salary5 = salary2+salary4
salary5

['₹ 3.5-5 LPA',
 '₹ 3.5-5 LPA',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed',
 '₹ 30-45 LPA',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed']

In [388]:
salary6 = salary5[0:10]

In [390]:
len(titles[0:10]), len(company), len(rating), len(salary6)

(10, 10, 10, 10)

In [392]:
postDate_tag = driver.find_elements_by_xpath('//span[@class="body-small-l"]')
len(postDate_tag)
postDate_tag[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="213c7236ea9113e3f88da25845d01ea9", element="62c34250-34b8-408a-a859-541c02c3b912")>,
 <selenium.webdriver.remote.webelement.WebElement (session="213c7236ea9113e3f88da25845d01ea9", element="50333692-37bd-49e9-9090-6d52945f6507")>]

In [393]:
PostDate = []

for i in postDate_tag:
    PostDate.append(i.text)
    
len(PostDate)
PostDate[0:2]

['11d ago', 'via naukri.com']

In [395]:
len(PostDate)

20

In [397]:
PostDate1 = PostDate[0:20:2]
PostDate1

['11d ago',
 '12d ago',
 '12d ago',
 '23d ago',
 '20d ago',
 '10d ago',
 '27d ago',
 '5d ago',
 '12d ago',
 '1mon ago']

In [398]:
job_list = pd.DataFrame()
job_list['Title'] = titles[0:10]
job_list['Company Name'] = company
job_list['Rating'] = rating
job_list['Date Posted'] = PostDate1[0:10]
job_list['Salary'] = salary6

job_list

,Title,Company Name,Rating,Date Posted,Salary
0,Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...,NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED,3.9,11d ago,₹ 3.5-5 LPA
1,LG Gram Intel Evo 11th Gen Core i7 17 inches U...,HCL Technologies Limited,3.8,12d ago,₹ 3.5-5 LPA
2,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",WSP CONSULTANTS INDIA PRIVATE LIMITED,4.2,12d ago,Not Disclosed
3,Mi Notebook Ultra 3.2K Resolution Display Inte...,Microsoft India (R and D) Pvt Ltd,4.2,23d ago,Not Disclosed
4,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...",HCL Technologies Ltd,3.8,20d ago,Not Disclosed
5,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,Jubilant Foodworks Limited,3.9,10d ago,Not Disclosed
6,Microsoft Surface Studio 14.4 inches Touchscre...,HCL Technologies,3.8,27d ago,₹ 30-45 LPA
7,(Renewed) Acer Nitro 5 11th Gen Intel Core i5-...,RATEGAIN TRAVEL TECHNOLOGIES LIMITED,3.7,5d ago,Not Disclosed
8,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,Hanu Software Solutions Pvt Ltd,3.7,12d ago,Not Disclosed
9,LG Gram 16 inches Intel Evo 11th Gen Core i7 U...,Tavant Technologies India Pvt. Ltd.,4.0,1mon ago,Not Disclosed